@charset "UTF-8";
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  line-height: 1.6;
  background: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
  background-color: var(--color-primary);
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 31.25em) {
  .search {
    order: 2;
    flex: 0 0 95%;
    margin-left: -1 rem;
  }
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  border-radius: 100px;
  padding: 0.7rem 2rem;
  width: 90%;
  transition: all 0.25s;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-2);
}
.search__input::-moz-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}
.search__input::placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}
.search__button {
  background-color: var(--color-grey-light-2);
  border: none;
  margin: -3.2rem;
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}
.search__icon:active {
  transform: translateY(0.3rem);
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
}
.user-nav__icon-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__icon-box:hover {
  background-color: var(--color-grey-light-3);
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100px;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-nav__user-photo {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
}
.user-nav__user:hover {
  background-color: var(--color-grey-light-3);
}

.sidebar__navigation {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.6rem;
}
@media only screen and (max-width: 56.25em) {
  .sidebar__navigation {
    margin-top: 0;
    flex-direction: row;
    gap: 0;
    justify-content: stretch;
  }
}
.sidebar__link:link, .sidebar__link:visited {
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
@media only screen and (max-width: 56.25em) {
  .sidebar__link:link, .sidebar__link:visited {
    justify-content: center;
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 38.125em) {
  .sidebar__link:link, .sidebar__link:visited {
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
  }
}
.sidebar__item {
  transition: all 0.3s;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .sidebar__item {
    flex: 1;
  }
}
.sidebar__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.4s 0.2s, background-color 0.1s;
}
.sidebar__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.sidebar__item:active::before {
  background-color: var(--color-primary-light);
}
.sidebar__icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: currentColor;
}
@media only screen and (max-width: 38.125em) {
  .sidebar__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
.hotel-gallery {
  display: flex;
  justify-content: stretch;
}
.hotel-gallery__img {
  display: block;
  width: 100%;
}

.overview {
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
@media only screen and (max-width: 38.125em) {
  .overview {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
.overview__heading {
  color: var(--color-grey-dark-2);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.4rem;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
  margin-left: 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .overview__heading {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 38.125em) {
  .overview__heading {
    font-size: 1.8rem;
    margin: 0;
    padding: 1rem 0.5rem;
  }
}
.overview__stars {
  margin-right: auto;
  display: flex;
}
@media only screen and (max-width: 38.125em) {
  .overview__stars {
    margin: 0;
  }
}
.overview__star, .overview__location-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}
@media only screen and (max-width: 38.125em) {
  .overview__star, .overview__location-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
.overview__info {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.overview__location-link:link, .overview__location-link:visited {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 1px solid currentColor;
  transition: all 0.5s;
}
.overview__location-link:hover {
  color: var(--color-grey-dark-1);
}
.overview__location-link:focus {
  outline: none;
  animation-name: pulsate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@media only screen and (max-width: 38.125em) {
  .overview__location-link {
    font-size: 0.8rem;
  }
}
.overview__ratings {
  color: #fff;
  padding: 0.8rem 2rem;
  background-color: var(--color-primary);
  text-align: center;
}
.overview__ratings div:first-child {
  font-size: 2.4rem;
  font-weight: 200;
}
@media only screen and (max-width: 38.125em) {
  .overview__ratings div:first-child {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 38.125em) {
  .overview__ratings {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
  }
}
.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .paragraphs {
    gap: 1.5;
  }
}

.list {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  padding: 0.5rem 0rem;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.list__icon {
  width: 1rem;
  height: 1rem;
  fill: var(--color-primary);
}

.recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommend__imgs {
  display: flex;
  align-items: center;
}
.recommend__img {
  box-sizing: content-box;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 2px solid white;
}
.recommend__img:not(:last-child) {
  margin-right: -2rem;
}

.testimonial {
  padding: 3.2rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.8rem;
}
@media only screen and (max-width: 56.25em) {
  .testimonial {
    padding: 2.4rem;
  }
}
.testimonial::before {
  content: "“";
  font-family: sans-serif;
  font-size: 20rem;
  color: var(--color-grey-light-2);
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: -2.75rem;
  left: 0rem;
}
.testimonial__review {
  position: relative;
  z-index: 9;
}
.testimonial__info {
  display: flex;
  gap: 1.6rem;
}
.testimonial__img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
}
.testimonial__name {
  font-weight: 600;
}
.testimonial__date {
  font-size: 1rem;
}
.testimonial__rating {
  margin-left: auto;
  font-size: 2.4rem;
  color: var(--color-primary);
  font-weight: 100;
}
.testimonial__link {
  align-self: center;
  font-size: 1.2rem;
}
@media only screen and (max-width: 38.125em) {
  .testimonial__link {
    font-size: 2.4rem !important;
  }
}

.cta {
  padding: 3.2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.cta__book-now {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.8rem;
}
.cta__link-btn {
  position: relative;
}
.cta__link-btn:before {
  content: "ONLY 4 ROOMS LEFT";
  position: absolute;
  left: 17%;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  transform: translateY(-4rem);
}
.cta__link-btn:hover::before {
  transform: translateY(0rem);
}
.cta__link-btn:after {
  display: inline-block;
  content: "BOOK NOW";
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
}
.cta__link-btn:hover::after {
  transform: translateY(4rem);
}
.cta__link-btn:link, .cta__link-btn:visited {
  display: inline-block;
  padding: 1.4rem 6.4rem;
  border-radius: 100px;
  text-decoration: none;
  background: linear-gradient(90deg, var(--color-primary-light), var(--color-primary-dark));
  overflow: hidden;
}
.cta__link-btn:focus {
  animation: pulsate 1s infinite;
}
.cta__link-btn:hover {
  background: linear-gradient(90deg, var(--color-primary-dark), var(--color-primary-light));
}
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  min-height: 50rem;
  box-shadow: var(--shadow-dark);
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0 auto;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 31.25em) {
  .header {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content {
  height: 100%;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  padding: 2.5rem;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    display: none;
  }
}

.hotel-view {
  flex: 1;
}

.detail {
  background-color: var(--color-grey-light-3);
  padding: 4.8rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 3.2rem;
  }
}
@media only screen and (max-width: 38.125em) {
  .detail {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
}

.description {
  padding: 2.4rem;
  background-color: #fff;
  color: var(--color-grey-dark-2);
  font-size: 1.4rem;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
}
@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
  }
}

.testimonials {
  flex: 0 0 35%;
  color: var(--color-grey-dark-2);
  font-size: 1.4rem;
  display: flex;
  gap: 3.2rem;
  flex-direction: column;
}