* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  width: 900px;
  margin: 0 auto;
  margin-top: 30px;
  border: 8px solid rgb(146, 156, 146);
  position: relative;
}

.head-title {
  color: grey;
  font-size: 40px;
  font-family: serif;
  background-color: lightgrey;
  border: 30px solid darkgrey;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  margin: 20px;
  margin-bottom: 100px;
}

.price {
  color: grey;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 0px;
  display: inline;
}

.price:hover {
  color: darkgrey;
}

.shipping {
  color: darkgrey;
  font-size: 17px;
  font-weight: bold;
  margin-top: 0px;
}

.head-image {
  margin-left: 20px;
  width: 350;
  height: auto;
  margin-bottom: 20px;
}

.head-image:hover {
  transition: transform 0.4s;
  transform: scale(1.05);
}

.group-image {
  margin-bottom: 20px;
}

.group-image:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
  cursor: pointer;
}

.sale {
  color: white;
  background-color: #ec2f2f;
  padding: 3px 7px;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: -22px;
  left: -34px;
}

.color-select {
  margin-left: 60px;
  margin-bottom: 20px;
}

.all-color {
  display: inline-block;
  margin-right: 20px;
}

.red-color {
  width: 20px;
  height: 20px;
  background-color: rgb(231, 40, 40);
  border: 3px solid rgb(231, 40, 40);
}
.red-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.green-color {
  width: 20px;
  height: 20px;
  background-color: rgb(31, 157, 31);
  border: 3px solid rgb(31, 157, 31);
}
.green-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.yellow-color {
  width: 20px;
  height: 20px;
  background-color: goldenrod;
  border: 3px solid goldenrod;
}
.yellow-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.grey-color {
  width: 20px;
  height: 20px;
  background-color: darkgrey;
  border: 3px solid darkgrey;
}
.grey-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.blue-color {
  width: 20px;
  height: 20px;
  background-color: rgb(71, 208, 227);
  border: 3px solid rgb(71, 208, 227);
}
.blue-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.magneta-color {
  width: 20px;
  height: 20px;
  background-color: rgb(197, 8, 96);
  border: 3px solid rgb(197, 8, 96);
}
.magneta-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.list-element {
  list-style: square;
  margin-left: 50px;
}

.ratings {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
  margin-left: 20px;
}

.list-element li {
  margin-bottom: 10px;
}

.list-element li:last-child {
  margin-bottom: 0px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.buy-now,
.add-cart {
  color: #fff;
  background-color: #000;
  border: 3px solid black;
  text-align: center;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  padding-left: 0;
  width: 100%;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
  border: 3px solid black;
}

.buy-now:hover {
  color: #000;
  background-color: #fff;
  border: 3px solid black;
}

.buy-now {
  margin-bottom: 20px;
}

.more-info {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border: 2px solid #000;
  padding: 5px;
}

.more-info:hover {
  color: #000;
  border: 2px solid #000;
  background-color: #fff;
}

/* #more_info {
  margin-top: 1000px;      for some reason this does not work.
  margin-bottom: 1000px;
} */

.product-detail {
  margin-top: 20px;
}

.share {
  padding: 3px 3px;
}

.whatsapp {
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  background-color: #000;
}

.whatsapp:hover {
  border: 2px solid black;
  color: #000;
  background-color: #fff;
}

.facebook {
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  background-color: #000;
}
.facebook:hover {
  border: 2px solid black;
  color: #000;
  background-color: #fff;
}

.instagram {
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  background-color: #000;
}
.instagram:hover {
  border: 2px solid black;
  color: #000;
  background-color: #fff;
}

.twitter {
  color: #fff;
  text-decoration: none;
  border: 2px solid black;
  background-color: #000;
}
.twitter:hover {
  border: 2px solid black;
  color: #000;
  background-color: #fff;
}
