.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 9rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
    box-shadow: 1px 1px 5px 0px rgba($color-black, 0.05);
    position: relative;
    font-size: $default-font-size;
  }
  &:hover {
    transform: translateY(-3px) scale(1.01);
    box-shadow: 2px 8px 10px 2px rgba($color-black, 0.3);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-1px) scale(1);
    box-shadow: 1px 4px 5px 1px rgba($color-black, 0.35);
  }
  &--animated {
    animation: btnMoveIn 0.5s ease-in-out 0.5s;
    animation-fill-mode: backwards;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 9rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    color: $color-primary;
    font-weight: 600;
    font-size: $default-font-size;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
    border-bottom: 2px solid $color-primary;
    transition: all 0.3s;
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    box-shadow: 0px 0.6rem 1rem 0px rgba($color-black, 0.3);
    transform: translateY(-0.2rem) scale(1.02);
  }
  &:active {
    box-shadow: 0px 0.3rem 0.5rem 0px rgba($color-black, 0.35);
    transform: translateY(0) scale(0.98);
  }
}
