.feature-box {
  max-width: 20%;
  background-color: rgba($color-white, 80%);
  border-radius: 0.5rem;
  box-shadow: 0rem 1.5rem 4rem 0rem rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s;
  padding: 3.2rem 1.6rem 3.2rem 1.6rem;

  &:hover {
    transform: scale(1.05) translateY(-1rem);
  }
  @include respond(tab-port) {
    max-width: 50rem;
    padding: 3.2rem 1.6rem 3.2rem 1.6rem;
  }
  &-icon {
    margin-bottom: 0.5rem;
    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }
  &__text {
  }
}
