* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  border: 8px solid rgb(0, 0, 0);
  position: relative;
}

/* Use clear-fix for collapsed height due to floated element. */
.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}

.head-title {
  color: grey;
  font-size: 40px;
  font-family: serif;
  background-color: lightgrey;
  border-top: 10px solid darkgrey;
  border-bottom: 10px solid darkgrey;
  text-align: center;
}

.price:hover {
  color: darkgrey;
}

.head-image {
  width: 300px;
  height: auto;
}

.sale {
  color: white;
  background-color: #ec2f2f;
  padding: 3px 7px;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  top: -22px;
  left: -40px;
}

.all-color {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

.red-color {
  width: 20px;
  height: 20px;
  background-color: rgb(231, 40, 40);
  border: 3px solid rgb(231, 40, 40);
}
.red-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.green-color {
  width: 20px;
  height: 20px;
  background-color: rgb(31, 157, 31);
  border: 3px solid rgb(31, 157, 31);
}
.green-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.yellow-color {
  width: 20px;
  height: 20px;
  background-color: goldenrod;
  border: 3px solid goldenrod;
}
.yellow-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.grey-color {
  width: 20px;
  height: 20px;
  background-color: darkgrey;
  border: 3px solid darkgrey;
}
.grey-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.blue-color {
  width: 20px;
  height: 20px;
  background-color: rgb(71, 208, 227);
  border: 3px solid rgb(71, 208, 227);
}
.blue-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

.magneta-color {
  width: 20px;
  height: 20px;
  background-color: rgb(197, 8, 96);
  border: 3px solid rgb(197, 8, 96);
}
.magneta-color:hover {
  border: 3px solid rgba(0, 0, 0, 0.4);
}

p {
  margin-bottom: 10px;
  margin-left: 20px;
}

.list-element li {
  margin-bottom: 10px;
}

.list-element li:last-child {
  margin-bottom: 0px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.buy-now {
  color: #fff;
  background-color: #000;
  border: none;
  border-top: 3px solid black;
  text-align: center;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  padding-left: 0;
  width: 100%;
}

.buy-now:hover {
  color: #000;
  background-color: #fff;
}

.more-info:hover {
  color: #000;
  border: 2px solid #000;
  background-color: #fff;
}

/* #more_info {
  margin-top: 1000px;      for some reason this does not work.
  margin-bottom: 1000px;
} */

.share {
  padding: 3px 3px;
  height: 80px;
  width: 280px;
  text-align: justify;
  display: inline-block;
}

.head-image {
  float: left;
}

.second-block {
  font-size: 17px;
  float: left;
  width: 300px;
  height: 300px;
  position: relative;
  margin-left: 40px;
  padding-top: 20px;
}

.shipping {
  color: darkgrey;
  box-sizing: content-box;
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 0px;
  display: inline-block;
}

.ratings {
  margin-top: 0px;
  margin-bottom: 20px;
}

.more-info {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  background-color: #000;
  border: 1px solid #000;
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-select {
  margin-left: 20px;
}

.price {
  color: grey;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.third-block {
  float: right;
  width: 300px;
  height: 300px;
  position: relative;
  padding-top: 20px;
}

.product-detail {
  margin-top: 20px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0px;
}

.list-element {
  font-size: 17px;
  list-style: square;
  width: 220px;
  position: absolute;
  margin-left: 40px;
  bottom: 60px;
  left: 0px;
}
/* 300 300 300 */
