.gallery {
  background-color: $color-grey-dark-1;
  grid-column: full-start / full-end;
  padding: 1.5rem;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  grid-template-areas:
    "img-1  img-1  img-2  img-2  img-2  img-3  img-4  img-4"
    "img-1  img-1  img-2  img-2  img-2  img-3  img-4  img-4"
    "img-5  img-5  img-2  img-2  img-2  img-8  img-8  img-9"
    "img-5  img-5  img-6  img-6  img-7  img-8  img-8  img-9"
    "img-5  img-5  img-6  img-6  img-13 img-13 img-13 img-9"
    "img-10 img-11 img-11 img-12 img-13 img-13 img-13 img-14"
    "img-10 img-11 img-11 img-12 img-13 img-13 img-13 img-14";
  &__item {
    &--1 {
      grid-area: img-1;
    }

    &--2 {
      grid-area: img-2;
    }

    &--3 {
      grid-area: img-3;
    }

    &--4 {
      grid-area: img-4;
    }

    &--5 {
      grid-area: img-5;
    }

    &--6 {
      grid-area: img-6;
    }

    &--7 {
      grid-area: img-7;
    }

    &--8 {
      grid-area: img-8;
    }

    &--9 {
      grid-area: img-9;
    }
    &--10 {
      grid-area: img-10;
    }

    &--11 {
      grid-area: img-11;
    }

    &--12 {
      grid-area: img-12;
    }

    &--13 {
      grid-area: img-13;
    }

    &--14 {
      grid-area: img-14;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
