.homes {
  grid-column: center-start/ center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
  margin: 15rem 0rem;
  .home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    &__img {
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/2;
    }
    &__like {
      fill: $color-primary;
      width: 2.5rem;
      height: 2.5rem;
      grid-column: 2/-1;
      grid-row: 1/2;
      justify-self: end;
      margin: 1.2rem;
    }
    &__name {
      grid-column: 1/-1;
      grid-row: 1/2;
      align-self: end;
      justify-self: center;
      color: #fff;
      font-size: 1.6rem;
      font-family: $font-display;
      text-align: center;
      width: 70%;
      padding: 1.2rem;
      background-color: $color-secondary;
      transform: translateY(50%);
    }
    &__location,
    &__rooms {
      margin-top: 2.5rem;
    }
    &__location,
    &__rooms,
    &__area,
    &__price {
      font-size: 1.5rem;
      margin-left: 1.2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      svg {
        width: 2rem;
        height: 2rem;
        fill: $color-primary;
      }
      p {
      }
    }
    &__btn {
      grid-column: 1 / -1;
    }
  }
}
