h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #555;
}

h2,
h3 {
  color: #1098ad;
}

#main-head {
  color: darkred;
  font-family: serif;
  font-style: normal;
  font-size: 75px;
  text-transform: capitalize;
  background-color: antiquewhite;
  border: 20px solid rgba(16, 152, 173, 0.3);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  text-align: left;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

/* footer p {
  font-size: 14px;
  font-family: serif;
} */

#copyright-msg {
  font-size: 14px;
  font-family: serif;
}

/*
article header p {
  font-style: italic;
}
*/

#article-info {
  color: grey;
  font-style: italic;
  font-size: 15px;
}

.related-author {
  font-size: 19px;
  font-weight: bold;
}

/* #unordered-list {
  list-style: none;
} */

.related-list {
  list-style: none;
}

li {
  font-size: 19px;
}

nav {
  background-color: darkgray;
  border: 20px solid darkgray;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
}

button {
  background-color: blanchedalmond;
  font-size: 25px;
}

aside {
  background-color: rgb(240, 240, 240);
  border-top: 7px solid #1098ad;
  border-bottom: 7px solid #1098ad;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
