/* ------------------------------------------------------------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  color: #555;
}

h2,
h3 {
  color: #1098ad;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.header-and-nav {
  color: darkred;
  font-family: serif;
  font-style: normal;
  text-transform: capitalize;
  background-color: antiquewhite;
  border: 30px solid rgba(16, 152, 173, 0.3);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 50px;
  /* padding: 10px 0px; */
}

#main-head {
  font-size: 75px;
  margin-bottom: 10px;
}

nav {
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

.code-image {
  width: 100%;
  height: auto;
}

.about-author {
  margin-bottom: 10px;
}

h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 40px;
}

h4 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* ------------------------------------------------------------------------------------------- */

/*id selector*/
#copyright-msg {
  font-size: 14px;
  font-family: serif;
}

#article-info {
  color: grey;
  font-style: italic;
  font-size: 15px;
}

/*class selector*/
.related-author {
  font-size: 19px;
  font-weight: bold;
}

.related-list {
  list-style: none;
}

li {
  font-size: 19px;
  margin-bottom: 10px;
  margin-left: 50px;
}

li:last-child {
  margin-bottom: 0px;
}
/* ------------------------------------------------------------------------------------------- */
/* Pseudo class */
/* Misconeption, This won't work. */
article p:first-child {
  color: green;
}

/* Styling links. */
a:link {
  color: #1098ad;
  text-decoration: none;
}

/* When we have visited the site. */
a:visited {
  color: #1098ad;
}

/* When the pointer is on the link. */
a:hover {
  color: #1098ad;
  font-weight: bold;
}

/* When you are clicking the link. */
a:active {
  color: rgb(25, 64, 219);
  font-style: italic;
}

/* ------------------------------------------------------------------------------------------- */
/* Resolving selector's conflict. */

/* #copyright-msg {
  color: red;
}
.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* ------------------------------------------------------------------------------------------- */

aside {
  background-color: rgb(240, 240, 240);
  border-top: 7px solid #1098ad;
  border-bottom: 7px solid #1098ad;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  padding: 30px 0px;
  margin: 40px 0px;
  width: 500px;
  height: 350px;
}

/* Pseudoclass */
/* li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(odd) {
  color: red;
} */

/* #unordered-list {
  list-style: none;
} */

/*
article header p {
  font-style: italic;
}
*/

/* footer p {
  font-size: 14px;
  font-family: serif;
} */
