/* **************************************** */
/* Navigation */
/* **************************************** */
.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #555;
  transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  border-radius: 9px;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
  color: #fff;
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* **************************************** */
/* HEADER */
/* **************************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  position: relative;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .hero-section {
  margin-top: 9.6rem;
}

/* **************************************** */
/* HERO SECTION */
/* **************************************** */

.hero-section {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  max-width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
  gap: 0.3rem;
}
.delivered-imgs img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 1px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* **************************************** */
/* FEATURED IN */
/* **************************************** */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0%);
  opacity: 60%;
}

/* **************************************** */
/* HOW IT WORKS SECTION */
/* **************************************** */

.section-how {
  padding: 9.6rem 0;
}

.step-text-box {
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::after,
.step-img-box::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* **************************************** */
/* MEALS SECTION */
/* **************************************** */

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 13px;
  overflow: hidden;
  transition: all 0.4s;
}

.meals:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.section-meals {
  padding: 9.6rem 0;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.4rem 0.8rem;
  color: #333;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #8ce99a;
}
.tag--vegan {
  background-color: #84d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-img {
  width: 100%;
  border-radius: 13px 13px 0 0;
}
.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #cf711f;
}

strong {
  font-weight: 500;
}

.diet {
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
  line-height: 1.2;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #cf711f;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* **************************************** */
/* TESTIMONIAL SECTION */
/* **************************************** */

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-container {
  padding: 9.6rem;
}
.testimonial-img {
  width: 64px;
  border-radius: 50%;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  /* You might need to remove this later. */
  /* align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
  overflow: visible;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* **************************************** */
/* PRICING SECTION */
/* **************************************** */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  background-color: #fdf2e9;
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  background-color: #fff;
  /* Border issue fix */
  box-shadow: 0 0 0 4px #fdf2e9;
}
.pricing-plan--complete {
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete:after {
  content: "Best Value";
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem;
  color: #333;
  background-color: #ffd43b;
  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-detail {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* **************************************** */
/* FEATURE SECTION */
/* **************************************** */

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fae5d3;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-icon {
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* **************************************** */
/* CALL-TO-ACTION SECTION */
/* **************************************** */

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  background-image: linear-gradient(to right bottom, #eb894e, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
}

.cta-text-box {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  color: #45260a;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 4.8rem;
}

.cta-text-box .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 138, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

/* FORM */
.cta-form .fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form .label {
  font-size: 1.6rem;
  font-weight: 500;
}
.cta-form input,
.cta-form select {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  padding: 1.2rem;
  margin-top: 1.2rem;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* **************************************** */
/* FOOTER */
/* **************************************** */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #ddd;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts p:first-child {
  margin-bottom: 1.6rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  font-size: 2.4rem;
  font-size: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #6f6f6f;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #e67e22;
}
