body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

table {
  width: 800px;
  border-collapse: collapse;
  text-align: left;
  font-size: 18px;
}

th,
td {
  padding: 16px 24px;
}

thead th {
  color: white;
  background-color: #087f5b;
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
