.footer {
  font-size: 1.4rem;
  background-color: $color-grey-dark-3;
  padding: 10rem 5rem;
  &__logo-box {
  }
  &__logo {
    width: 15rem;
    height: auto;
  }
  &-flex-box {
    display: flex;
    justify-content: space-between;
  }
  &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
  }
  &__list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
  &__item {
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s;
    }
    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: scale(1.2) rotate(5deg);
    }
  }
  &__copyright-box {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    width: 40%;
  }
  &__copyright {
  }
}
