.flex-layout {
  display: flex;
  justify-content: space-evenly;
  gap: 6rem;
  &-item-1 {
    width: 43%;
    @include respond(tab-port) {
      width: 70%;
      text-align: center;
    }
    @include respond(phone) {
      width: 100%;
      text-align: center;
    }
  }

  &-item-2 {
    width: 43%;
  }
  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }
}
